body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  word-spacing: 4px;
  letter-spacing: 0.5px;
  line-height: 1.2em;
}

.clearfix :after {
  content: "";
  display: table;
  width: 100px;
  clear: both;
}

div {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
/*---------------------------------HEADER*/
header {
  background: url("../img/first-bg.jpg") no-repeat center top / cover;
  padding-bottom: 150px;
}

.logo {
  margin-top: 40px;
}

nav {
  float: right;
}

.menu {
  margin: 0px;
  padding: 0px;
  display: block;
  margin-top: 48px;
}

.menu li {
  float: left;
  display: block;
}

.menu li a {
  text-decoration: none;
  margin-left: 42px;
  color: #d6d6d6;
  font-size: 17px;
  text-transform: uppercase;
}

.titels {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 140px;
}
.titels_1 {
  font-size: 32px;
  margin-bottom: 60px;
}
.titels h1 {
  font-size: 65px;
  margin-top: 35px;
  margin-bottom: 110px;
}

.button {
	width: 240px;
	background-color: #fed136;
	text-align: center;
	padding: 20px 0px;
	display: block;
	border-radius: 4px;
	margin: 0 auto;
	font-weight: bold;
	font-size: 18px;
}
.button a {
	text-decoration: none ;
	text-transform: uppercase;
	color: #2b2727;
}
/*---------------------------------ABOUT*/
.about {
	background-color: #f7f7f7;
	padding-bottom: 35px;
}

.text_about h3 {
	text-align: center;
}

.titels_2 {
	padding-top: 100px;
	padding-bottom: 50px;
	margin-left: 450px;
	display: inline-block;
}

.titels_2 h2 {
	text-transform: uppercase;
	color: #222;
	font-weight: bold;
	font-size: 40px;
	padding: 0px;
	margin: 0px 0px 0px 40px;
	display: inline-block;
}
  
.titels_2 p {
	color: #777;
	font-size: 16px;
	padding: 0px;
	margin: 17px 0px 0px 0px;
}

.leftimg{
	float: left;
	margin: 0px 30px 30px 0px;
}

.urban {
	margin-left: 560px;
}

.cloud {
	padding-left: 100px;
	padding-right: 10px;
}

#link {
	text-decoration: none;
}

#link:hover{
	text-decoration: none;
	color: #fed136;
}
/*---------------------------------PORTFOLIO*/
span {
  text-transform: uppercase;
}

.story_item {
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 93px;
}

.story_item .content {
  display: inline-block;
  line-height: 1.5em;
  position: absolute;
  top: 8px;
  width: 290px;
}

#con_lft {
  text-align: left;
}

#con_rght {
  text-align: right;
}
.title_h3 h3 {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.4em;
}

.story_item p {
  color: #777;
  font-size: 14px;
}

.story_item:nth-child(odd) .content {
  right: 50%;
  margin-right: 130px;
}

.story_item:nth-child(even) .content {
  left: 50%;
  margin-left: 130px;
}

.story_item image {
  margin-top: 10px;
}

.yellow {
	background-color: #fed136;
	height: 4px;
}
/*---------------------------------WHY ME?*/
.why {
	background-color: #f7f7f759;
	padding-bottom: 100px;
}
  
.me {
	float: right;
	margin-top: 30px;
	margin-right: 90px;
}

.flex_container {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 0px;
}

.icon {
	width: 380px;
	text-align: center;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	
}
.icon h3 {
	font-size: 18px;
	color: #222;
}
.icon p {
	font-size: 14px;
	color: #777;
}
  
.i1 {
	float: left;
}
.i2 {
	
}
.i3 {
	float: right;
}
/*---------------------------------FOOTER*/
footer {
	background-color: #fed136;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 10px;
}

footer p {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #000;
}

footer a {
	display: inline-block;
	margin: 10px;
	text-decoration: none;
	color: #000;
}

#footer_icon {
	margin: 0px 30px 0px 0px;
	padding: 0px;
}

.margin {
	margin-bottom: -5px;
}
.margin1 {
	margin-bottom: -1px;
}
